<div class="main-content-card" style="margin-bottom: 24px">
    <div class="main-content-card-content clearfix">
        <div class="ill-web-top asset">
            <div class="ill-web-top-content">
                <div class="vul-web-top-title">黑链检测告警</div>
                <div id="ill-web-top-asset" class="vul-web-top-number">0</div>
            </div>
        </div>
        <div class="ill-web-top threat">
            <div class="vul-web-top-content">
                <div class="ill-web-top-title">挂马检测告警</div>
                <div id="ill-web-top-threat" class="vul-web-top-number">46</div>
            </div>
        </div>
        <div class="ill-web-top website">
            <div class="ill-web-top-content">
                <div class="ill-web-top-title">敏感检测告警</div>
                <div id="vul-web-top-website" class="vul-web-top-number">6666</div>
            </div>
        </div>
    </div>
</div>


<div class="main-content-card">
    <div class="main-content-card-title">
        <span>违法网站分析</span>
        <div class="main-content-card-btngroup">
            <form  method="post" role="form" id="ill_web_form">
                <input type="text" placeholder="关键字" name="keyword">
                <div id="ill_web_keyword_select">
                </div>
                <input type="text" placeholder="地区" name="result.value.location">
                <input type="text" placeholder="日期" name="result.value.save_time">
                <button type="button" onclick="ill_web_search()" ><i class="iconfont icon-search"></i></button>

            </form>
        </div>
    </div>
    <div class="main-content-card-content">
        <table class="table table-bordered">
            <thead>
            <th width="15%">网站域名</th>
            <th width="120px">关联IP</th>
            <th width="10%">漏洞名称</th>
            <th width="12%">命中关键字</th>
{#            <th>等级</th>#}
            <th width="10%">归属地区</th>
            <th>内容</th>
            <th width="10%">IDC名称</th>
            <th width="160px">扫描时间</th>
            <th width="80px">网页快照</th>
            </thead>
            <tbody>
            <tr><td colspan="8" style="text-align: center">暂无数据</td></tr>
            </tbody>
        </table>
        <div class="pagination illgal-web">
        </div>
    </div>
</div>
