<div class="main-content-card" style="margin-bottom: 24px">
    <div class="main-content-card-content clearfix">
        <div class="ill-web-top c3 heilian">
            <div class="ill-web-top-title">暗链检测告警</div>
            <div class="ill-web-top-content">
                <div class="ill-web-top-number all">发现暗链网站 <div id="ill-web-top-number-heilian-web">0</div></div>
                <div class="ill-web-top-number read">发现暗链总数 <div id="ill-web-top-number-heilian-num">0</div></div>
{#                <div class="ill-web-top-number read">已读警告<div>1212</div></div>#}
{#                <div class="ill-web-top-number unread">未读警告<div>1212</div></div>#}
            </div>
        </div>
        <div class="ill-web-top c3 guama">
            <div class="ill-web-top-title">挂马检测告警</div>
            <div class="ill-web-top-content">
                <div class="ill-web-top-number all">发现挂马网站<div id="ill-web-top-number-guama-web">0</div></div>
                <div class="ill-web-top-number all">发现挂马总数<div id="ill-web-top-number-guama-num">0</div></div>
                <div class="ill-web-top-number all">网页劫持网站<div id="ill-web-top-number-hijack-web">0</div></div>
                <div class="ill-web-top-number all">网页劫持总数<div id="ill-web-top-number-hijack-num">0</div></div>
{#                <div class="ill-web-top-number read">已读警告<div>1212</div></div>#}
{#                <div class="ill-web-top-number unread">未读警告<div>1212</div></div>#}
            </div>
        </div>
        <div class="ill-web-top c3 sense">
            <div class="ill-web-top-title">敏感检测告警</div>
            <div class="ill-web-top-content">
                <div class="ill-web-top-number all">发现敏感信息网站<div id="ill-web-top-number-sense-web">0</div></div>
                <div class="ill-web-top-number all">发现敏感信息总数<div id="ill-web-top-number-sense-num">0</div></div>
                <div class="ill-web-top-number all">图片鉴黄网站<div id="ill-web-top-number-image-web">0</div></div>
                <div class="ill-web-top-number all">图片鉴黄<div id="ill-web-top-number-image-num">0</div></div>
{#                <div class="ill-web-top-number read">已读警告<div>1212</div></div>#}
{#                <div class="ill-web-top-number unread">未读警告<div>1212</div></div>#}
            </div>
        </div>
    </div>
</div>


<div class="main-content-card">
    <div class="main-content-card-title">
        <span>违法网站分析</span>
        <div class="main-content-card-btngroup">
            <form  method="post" role="form" id="ill_web_form">
                <input type="text" placeholder="关键字" name="keyword">
                <div id="ill_web_keyword_select">
                </div>
                <input type="text" placeholder="地区" name="result.value.location">
                <input type="text" placeholder="日期" name="result.value.save_time">
                <button type="button" onclick="ill_web_search()" ><i class="iconfont icon-search"></i></button>

            </form>
        </div>
    </div>
    <div class="main-content-card-content">
        <table class="table table-bordered">
            <thead>
            <th width="15%">网站域名</th>
            <th width="120px">关联IP</th>
            <th width="10%">分类</th>
            <th width="12%">命中关键字</th>
{#            <th>等级</th>#}
            <th width="10%">归属地区</th>
            <th>内容</th>
            <th width="10%">IDC名称</th>
            <th width="160px">扫描时间</th>
            <th width="80px">网页快照</th>
            </thead>
            <tbody>
            <tr><td colspan="8" style="text-align: center">暂无数据</td></tr>
            </tbody>
        </table>
        <div class="pagination illgal-web">
        </div>
    </div>
</div>
