{#任务扫描 index#}
<div class="main-content-card">
    <div class="main-content-card-title clearfix">
        <span style="float: left">任务概览</span>
        <div class="main-content-card-btngroup float-left">
            <button id="add-task-btn" type="button" data-toggle="modal" data-target='#model'>添加任务</button>
        </div>
        <div class="main-content-card-btngroup float-right">
            <div class="main-content-card-btngroup-search">
                <input type="text" placeholder="请输入域名/网站标题"><!--
                --><button type="button"><i class="iconfont icon-search"></i></button>
            </div>
        </div>
    </div>
    <div class="main-content-card-content">
        <table class="table table-bordered">
            <thead>
                <th width="">任务task_id</th>
                <th>任务名称</th>
                <th width="100px">状态</th>
                <th width="160px">开始时间</th>
                <th width="160px">完成时间</th>
                <th width="100px">操作</th>
                </thead>
            <tbody>
            <tr><td colspan="6" style="text-align: center">暂无数据</td></tr>
            </tbody>
        </table>
        <div class="pagination task">
        </div>
    </div>
</div>
