

<div id="task_send_detail_div" class="main-content-card" style="display: none">
    <div id="task_send_detail_table_body" class="main-content-card-content" >
        <div class="columnT-title">扫描任务信息</div>
        <div class="columnT"></div>
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_server" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_protocols" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3 content-w3-r">
    <div id="chart_language" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_cdn" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_component" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3 content-w3-r">
    <div id="chart_vulnerables" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card" style="float:left;width: 100%">
    <div id="chart_illegality" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card" style="float:left;width: 100%">
    <div id="report_vul_ill_list" class="main-content-card-content canvas-400">
    </div>
</div>



<div id="report_div" class="main-content-card" style="display: none">
    <div class="main-content-card-content">
    </div>
</div>

<div class="main-content-card">


    <div class="clearfix classify">
        <div class="classify-content float-left">
            <div class="classify-content-data-all">暂无数据</div>
            <div class="pagination" data-func="get_scan_list_page"></div>
        </div>
    </div>
</div>
