
{#<div class="main-content-card">#}
{#    <div class="main-content-card-title">#}
{#        任务详情报告#}
{#    </div>#}
{#</div>#}
<div class="main-content-card content-w3">
    <div id="chart_server" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_protocols" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3 content-w3-r">
    <div id="chart_language" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_cdn" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3">
    <div id="chart_component" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card content-w3 content-w3-r">
    <div id="chart_vulnerables" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card" style="float:left;width: 100%">
    <div id="chart_illegality" class="main-content-card-content canvas-400">
    </div>
</div>
<div class="main-content-card" style="float:left;width: 100%">
    <div id="report_vul_ill_list" class="main-content-card-content canvas-400">
    </div>
</div>


{#<div class="row">#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_server">#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_protocols">#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_language">#}
{##}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{#<div class="row">#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_cdn">#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_component">#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="col-lg-4">#}
{#        <div id="chart_vulnerables">#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{#<div class="row">#}
{#    <div id="chart_illegality" style="width: 600px;height:400px;">#}
{##}
{#    </div>#}
{#</div>#}
{##}
{#<div class="row "  id="report_vul_ill_list">#}
{##}
{##}
{#</div>#}