

<div class="row">
    <pre id="task_send_detail_div" style="display: none">

    </pre>
</div>


<div class="row">

    <div class="col-lg-3" id="filter_param">
        过滤选项
    </div>
    <div class="col-lg-5">
搜索
    </div>
    <div class="col-lg-4">
3333
    </div>
</div>

<div class="row">
    <div id="classify_list" class="col-lg-3">
        搜索
    </div>
    <div class="col-lg-9">
        <div class="main-content-card-table">
            <table class="table table-bordered">
                <tbody>
                <tr><td colspan="8" style="text-align: center">暂无数据</td></tr>
                </tbody>
            </table>
            <div class="pagination">

            </div>
        </div>
    </div>
</div>