
{#    <pre id="total_one_detail_div">#}
{##}
{#    </pre>#}

<div class="clearfix" style="margin-bottom: 24px">
    <div style="float: left; width: calc(50% - 12px);margin-right: 24px">
        {#    ip信息#}
        <div class="main-content-card">
            <div class="main-content-card-content">
                <div id="base_info_ip" class="columnT-title"></div>
                <div id="base_info_body" class="columnT"></div>
            </div>
        </div>

        {#    网站信息#}
        <div class="main-content-card">
            <div class="main-content-card-content">
                <div class="columnT-title">网站信息</div>
                <div id="web_info_body" class="columnT"></div>
            </div>
        </div>


    </div>
    <div style="float: left; width: calc(50% - 12px)">
        {#   服务信息#}
        <div class="main-content-card">
            <div class="main-content-card-content">
                <div id="base_info_server" class="columnT-title"></div>
                <div id="base_info_server_body" class="columnT"></div>
            </div>
        </div>
        {#  地图#}
        {#    <div class="main-content-card">#}
        {#        <div class="main-content-card-content">#}
        {#            <div id="map-canvas" style="width: 100%; height: 300px"></div>#}
        {#        </div>#}
        {#    </div>#}
        {#    响应头部信息#}
        <div class="main-content-card">
            <div class="main-content-card-content" id="web_response_info_div" style="display: none">
                <div class="columnT-title">响应头部信息</div>
                <div id="web_response_info" class="columnT"></div>
            </div>
        </div>
        <div id="illegality_feature_div" class="main-content-card" style="display: none">
            <div class="main-content-card-content" id="illegality_feature_info_div">
                <div class="columnT-title">网站类型信息</div>
                <div id="illegality_feature_info" class="columnT"></div>
            </div>
        </div>


        {#    <div id="illegality_div" class="main-content-card" style="display: none" >>#}
        {#        <div class="main-content-card-content">#}
        {#        </div>#}
        {#    </div>#}
        <div id="other_detail" style="display: none">
            <ul class="nav nav-tabs">
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade main-content-card" id="whois_div">
                    <div class="main-content-card-content" id="whois_div">
                        <div id="base_info_whois" class="columnT"></div>
                    </div>
                </div>
                <div class="tab-pane fade main-content-card" id="autonomous_system_div">
                    <div class="main-content-card-content" id="autonomous_system_div">
                        <div id="base_info_autonomous_system" class="columnT"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<div style="width: 100%">
    {#漏洞信息#}
    <div   id="vulnerables_div" class="main-content-card"  style="display: none">
        <div class="main-content-card-content" id="vulnerables_info_div">
            <div class="columnT-title">漏洞信息</div>
            <div  class="columnT">
                <div class="columnT-header">
                    <div>漏洞名称</div>
                    <div>漏洞等级</div>
                </div>
                <div id="vulnerables_info"></div>
            </div>
        </div>
    </div>
{#    违法信息#}
    <div id="illegality_div" class="main-content-card" style="display: none">
        <div class="main-content-card-content" id="vulnerables_info_div">
            <div class="columnT-title">违法信息</div>
            <div class="columnT">
                <div id="illegality_info"></div>
        </div>
    </div>
</div>

<!-- 详情模态框（Modal） -->
<div class="modal fade" id="total_one_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">详情</h4>
            </div>
            <div class="modal-body" id="total_one_detail_div"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


{#    <div class="row">#}
{#        <div class="col-lg-4">#}
{#            <div class="row">#}
{#                <table class="table table-condensed">#}
{#                    <caption id="base_info_ip"></caption>#}
{#                    <tbody id="base_info_body">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#            <div class="row">#}
{#                <table class="table table-condensed">#}
{#                    <caption id="base_info_server"></caption>#}
{#                    <tbody id="base_info_server_body">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#            <div class="row" id="whois_div" style="display: none">#}
{##}
{#                <table class="table table-condensed">#}
{#                    <caption>WHOIS</caption>#}
{#                    <tbody id="base_info_whois">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#        </div>#}
{#        <div class="col-lg-offset-6">#}
{#            <div class="row">#}
{#                <table class="table table-condensed">#}
{#                    <caption >网站信息</caption>#}
{#                    <tbody id="web_info_body">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{#            <div class="row" id="web_response_info_div" style="display: none">#}
{#                <table class="table table-condensed">#}
{#                    <caption >响应头部信息</caption>#}
{#                    <tbody id="web_response_info">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#            <div class="row" id="web_response_info_div" style="display: none">#}
{#                <table class="table table-condensed">#}
{#                    <caption >响应头部信息</caption>#}
{#                    <tbody id="web_response_info">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{#            <div class="row" id="vulnerables_div">#}
{##}
{#            </div>#}
{#            <div class="row" id="illegality_div">#}
{##}
{#            </div>#}
{##}
{#            <div class="row" id="vulnerables_info_div" style="display: none" >#}
{#                <table class="table table-condensed">#}
{#                    <caption >违法信息</caption>#}
{#                    <tbody id="vulnerables_info">#}
{##}
{#                    </tbody>#}
{#                </table>#}
{#            </div>#}
{##}
{##}
{#        </div>#}
{#    </div>#}
{#        <pre id="task_result_detail_div">#}

    {#    </pre>#}