<div id="task_send_detail_div" class="main-content-card" style="display: none">
    <div id="task_send_detail_table_body" class="main-content-card-content" >
{#        <table class="table table-condensed table-column">#}
{#            <caption >扫描任务信息</caption>#}
{#            <tbody id="task_send_detail_table_body">#}
{##}
{#            </tbody>#}
{#        </table>#}
        <div class="columnT-title">扫描任务信息</div>
        <div class="columnT"></div>
    </div>
</div>
<div id="report_div" class="main-content-card" style="display: none">
    <div class="main-content-card-content">
    </div>
</div>
<div class="main-content-card">
    <div class="main-content-card-title clearfix">
        <span class="float-left">过滤选项： &nbsp; &nbsp;</span>
        <div id="filter_param" class="float-left"></div>
        <div class="main-content-card-btngroup float-right">
            <div class="main-content-card-btngroup-search" >
                <input type="text" placeholder="搜索" id="total_search_"><!--
                --><button type="button" onclick="btn_total_search()"><i class="iconfont icon-search"></i></button>
            </div>
        </div>
    </div>

    <div class="clearfix classify">
        <div id="classify_list" class="classify-list float-left">
            搜索
        </div>
        <div class="classify-content float-left">
            <div class="classify-content-data-all">暂无数据</div>
            <div class="pagination total"></div>
        </div>
    </div>
</div>



