<div class="main-content-card" style="margin-bottom: 24px">
    <div class="main-content-card-content clearfix">
        <div class="vul-web-top asset">
            <i class="iconfont icon-asset"></i>
            <div class="vul-web-top-content">
                <div class="vul-web-top-title">检测资产总数</div>
                <div id="vul-web-top-asset" class="vul-web-top-number"></div>
            </div>
        </div>
        <div class="vul-web-top threat">
            <i class="iconfont icon-threat"></i>
            <div class="vul-web-top-content">
                <div class="vul-web-top-title">检测漏洞总数</div>
                <div id="vul-web-top-threat" class="vul-web-top-number"></div>
            </div>
        </div>
        <div class="vul-web-top website">
            <i class="iconfont icon-website"></i>
            <div class="vul-web-top-content">
                <div class="vul-web-top-title">存在漏洞的页面数</div>
                <div id="vul-web-top-website" class="vul-web-top-number"></div>
            </div>
        </div>
    </div>
</div>

<div class="main-content-card" style="margin-bottom: 24px">
    <div class="main-content-card-content clearfix">
        <div class="ill-web-top c1 sense">
            <div class="ill-web-top-title">漏洞统计</div>
            <div class="ill-web-top-content" id="ill_web_top_content">
                <div class="ill-web-top-number all">发现暗链网站 <div id="ill-web-top-number-heilian-web">0</div></div>
{#                <div class="ill-web-top-number read">发现暗链总数 <div id="ill-web-top-number-heilian-num">0</div></div>#}
            </div>
        </div>
    </div>
</div>

<div class="main-content-card">
    <div class="main-content-card-title clearfix">
        <span>漏洞网站分析</span>
        <div class="main-content-card-btngroup">
            <form  method="post" role="form" id="vul_web_form">
                <input type="text" placeholder="任务id" name="keyword">
                <div id="vul_web_id_select">
                </div>
                <input type="text" placeholder="关键字" name="keyword">
                <div id="vul_web_keyword_select">
                </div>
                <input type="text" placeholder="地区" name="result.value.location">
                <input type="text" placeholder="日期" name="result.value.save_time">
                <button type="button" onclick="vul_web_search()" ><i class="iconfont icon-search"></i></button>

            </form>
        </div>
    </div>
    <div class="main-content-card-content">
        <table class="table table-bordered">
            <thead>
            <th width="15%">网站URL</th>
            <th width="120px">关联IP</th>
            <th width="12%">漏洞名称</th>
{#            <th>命中关键字</th>#}
            <th width="10%">归属地区</th>
            <th>内容</th>
{#            <th>IDC名称</th>#}
            <th width="160px">扫描时间</th>
            <th width="80px">网页详情</th>
            </thead>
            <tbody>
            <tr><td colspan="7" style="text-align: center">暂无数据</td></tr>
            </tbody>
        </table>
        <div class="pagination vul-web">
        </div>
    </div>
</div>