{#任务扫描 index#}
<div class="main-content-card">
    <div class="main-content-card-title clearfix">
        <title>首页</title>
        <link rel="icon" type="image/x-icon" href="/static/img/icon.ico" />
        <span>漏洞检测概览</span>
        <div class="main-content-card-btngroup float-right">
            <div class="main-content-card-btngroup-search" >
                <form  method="post" role="form" id="abnormal_form">
                    <input type="text" placeholder="任务id" name="task_id">
{#                    <input type="text" placeholder="任务名称"  name="task_name">#}

                    <div >
                        <select  id="abnormal_select_name" name="task_id">


                        </select>
                    </div>
                    <div >
                        <select name="alive">
                            <option value="">是否存活</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
                    <input type="text" placeholder="status_code" name="status_code">
{#                    <input type="text" placeholder="is_alarm" name="is_alarm">#}
                    <div >
                        <select name="is_alarm">
                            <option value="">是否警告</option>
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </div>
{#                    <input type="text" placeholder="日期" name="result.value.save_time">#}
                    <button type="button" onclick="abnormal_web_table_page(1)" ><i class="iconfont icon-search"></i></button>

                </form>
            </div>
        </div>
    </div>
    <div class="main-content-card-content">
        <table class="table table-bordered">
            <thead>
                <th width="15%">task_id</th>
                <th width="120px">域名</th>
                <th width="120px">重定向信息</th>
                <th width="8%">状态码</th>
                <th width="12%" >ip</th>
                <th width="80px">是否存活</th>
                <th width="80px">网页变化</th>
                <th width="80px">是否警告</th>
                <th width="80px" >更新时间</th>
            </thead>
            <tbody id="abnormal_tbody">
            <tr><td colspan="9" style="text-align: center">暂无数据</td></tr>
            </tbody>
        </table>
        <div class="pagination" data-func="abnormal_web_table_page">

        </div>
    </div>
</div>