.ill-web-top{
    position: relative;
    float: left;
    width: calc(33.3% - 16px);
    height: 150px;
    padding: 16px;
    color: #fff;
}
.ill-web-top + .ill-web-top{
   margin-left: 24px;
}
.ill-web-top-title{
    width: 100%;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #fff;
}
.ill-web-top-content{
    position: absolute;
    width: calc(100% - 40px);
    bottom: 20px;
}
.ill-web-top-number{
    float: left;
    width: 33%;
    text-align: center;
}
.ill-web-top.heilian{
    background: #b6a2de;
}
.ill-web-top.guama{
    background: #5ab1ef;
}
.ill-web-top.sense{
    background: #ffb980;
}

