<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title></title>
    <link rel="icon" type="image/x-icon" href="/static/img/icon.ico" />

    <link rel="stylesheet" href="/static/css/plugins/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1612569_49v5qj3znsw.css">
    <script type="text/javascript" src="/static/js/plugins/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/echarts.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/bootstrap.min.js"></script>

    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/plugins/base64.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=aiZMF1Gwk8aamRtgfbLa1AnF0IZhGPNm"></script>

</head>
<body>
<div class="main-container">
    <div class="sidebar-scrollhidden sidebar-open tran">
        <div class="sidebar">
            <div class="logodiv tran"></div>
            <ul class="nano-content">
                <li class="sidebar-firstItem" data-drop="true">
                    <div class="sidebar-firstNav">
                        <i class="iconfont icon-default tran"></i>
                        <span class="tran">&nbsp;&nbsp;漏洞检查<i class="iconfont icon-arrow"></i></span>
                    </div>
                    <ul class="sidebar-firstDrop">
{#                        <li class="sidebar-secondItem">#}
{#                            <div class="sidebar-secondNav" data-value="vulcheck-index">#}
{#                                <i class="iconfont icon-default"></i>#}
{#                                <span>&nbsp;&nbsp;概览</span>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li class="sidebar-secondItem">#}
{#                        <div class="sidebar-secondNav" data-value="vulcheck-quickstart">#}
{#                            <i class="iconfont icon-default"></i>#}
{#                            <span>&nbsp;&nbsp;快速开始</span>#}
{#                        </div>#}
{#                    </li>#}
                        <li class="sidebar-secondItem">
                            <div class="sidebar-secondNav" data-value="vulcheck-get_total_html">
                                <i class="iconfont icon-default"></i>
                                <span>&nbsp;&nbsp;总览</span>
                            </div>
                        </li>
{#                    <li class="sidebar-secondItem">#}
{#                        <div class="sidebar-secondNav" data-value="vulcheck-send_task">#}
{#                            <i class="iconfont icon-default"></i>#}
{#                            <span>&nbsp;&nbsp;下发任务</span>#}
{#                        </div>#}
{#                    </li>#}
                    <li class="sidebar-secondItem">
                        <div class="sidebar-secondNav" data-value="vulcheck-show_all_task">
                            <i class="iconfont icon-default"></i>
                            <span>&nbsp;&nbsp;任务列表</span>
                        </div>
                    </li>

                    <li class="sidebar-secondItem">
                        <div class="sidebar-secondNav" data-value="vulcheck-get_ill_web_html">
                            <i class="iconfont icon-default"></i>
                            <span>&nbsp;&nbsp;违法网站分析</span>
                        </div>
                    </li>
                    <li class="sidebar-secondItem">
                        <div class="sidebar-secondNav" data-value="vulcheck-get_vul_web_html">
                            <i class="iconfont icon-default"></i>
                            <span>&nbsp;&nbsp;漏洞列表</span>
                        </div>
                    </li>
                    <li class="sidebar-secondItem">
                        <div class="sidebar-secondNav" data-value="vulcheck-get_beian_html">
                            <i class="iconfont icon-default"></i>
                            <span>&nbsp;&nbsp;备案分析</span>
                        </div>
                    </li>
                    </ul>
                </li>

                <li class="sidebar-firstItem">
                    <div class="sidebar-firstNav">
                        <i class="iconfont icon-default tran"></i>
                        <span class="tran">&nbsp;&nbsp;检查</span>

                    </div>
                </li>
            </ul>
            {#            <ul class="">#}
            {#                <li class="active"><a href="#d_issue_tesk" data-toggle="tab">下发扫描任务</a></li>#}
            {#                <li><a href="#d_get_task_list" data-toggle="tab" onclick="click_tesk_list()">获取所有任务列表</a></li>#}
            {#                <li><a href="#d_stop_task" data-toggle="tab" onclick="click_stop_task()">停止任务</a></li>#}
            {#                <li><a href="#d_get_task_status" data-toggle="tab" >获取任务状态</a></li>#}
            {#                <li><a href="#d_get_task_result" data-toggle="tab" >获取任务结果</a></li>#}
            {#                <li><a href="#d_get_plug" data-toggle="tab" onclick="click_get_plug()">获取插件列表</a></li>#}
            {#                <li><a href="#d_issue_tesk_batch" data-toggle="tab" onclick="d_issue_tesk_batch_click()">批量下发扫描任务</a></li>#}
            {#            </ul>#}
        </div>
    </div>

    <div class="main-content tran">
        <div class="header">
            <div class="header-left float-left">
                <div class="menu-button"><i class="iconfont icon-menu tran"></i></div>
            </div>
            <div class="header-right float-right">
                <span class="header-right-user">欢迎：admin</span>
                <span class="header-right-exit"><a title="退出" href="/logout"><i class="iconfont icon-exit"></i><span>&nbsp;退出</span></a></span>
            </div>
        </div>
        <div class="tab-content">
{#            <div id="d_issue_tesk" class='tab-pane active'>#}
{#                <div class="row">#}
{#                    <div class="col-lg-6">#}
{#                        <label for="name">输入</label>#}
{#                        <textarea id="d_issue_task_text" class="form-control" rows="18"></textarea>#}
{#                    </div>#}
{#                    <div class="col-lg-6">#}
{#                        <label for="name">样例</label>#}
{#                        <pre>#}
{#                    {#}
{#                        "task_id": "1",#}
{#                        "spider_task_id": "222",#}
{#                        "url": "http://sfq.168tex.com/",#}
{#                        "spider": {#}
{#                            "maxpage": 500,#}
{#                            "maxdepth": 3,#}
{#                            "notscanurl": "/.*?delete*,/.*?logout*,/.*?loginout*",#}
{#                            "crawlrule": 0,#}
{#                            "notscanfile": ""#}
{#                        },#}
{#                        "plugins": [#}
{#                            "keywords",#}
{#                            "component"#}
{#                        ]#}
{#                    }#}
{##}
{#                </pre>#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="row">#}
{#                    <button class="btn btn-default" onclick="click_issue_tesk()"> 下发任务扫描</button>#}
{#                </div>#}
{#                <div id="d_issue_task_text_result" class="row">#}
{##}
{#                </div>#}
{##}
{#            </div>#}
{#            <div id="d_get_tesk_list" class='tab-pane'>#}
{##}
{#            </div>#}
{#            <div id="d_stop_task" class='tab-pane'>#}
{#                停止任务<br>#}
{#                <input type="text" id="id_stop_task"><br>#}
{#                <button class="btn btn-default" onclick="click_stop_task()">停止</button><br>#}
{#                <div id="d_stop_task_div" >#}
{#                </div>#}
{#            </div>#}
{#            <div id="d_get_task_status" class='tab-pane'>#}
{#                获取任务状态<br>#}
{#                <input type="text" id="id_get_task_status"><br>#}
{#                <button class="btn btn-default" onclick="click_task_status()">查询</button><br>#}
{#                <div id="d_get_task_status_div" >#}
{#                </div>#}
{#            </div>#}
{#            <div id="d_get_task_result" class='tab-pane'>#}
{#                获取任务结果<br>#}
{#                <input type="text" id="id_get_task_result"><br>#}
{#                <button class="btn btn-default" onclick="click_task_result()">查询</button><br>#}
{#                <div >#}
{#            <pre id="d_get_task_result_div" >#}
{##}
{#            </pre>#}
{#                </div>#}
{#            </div>#}
{#            <div id="d_get_plug" class='tab-pane' >#}
{#                获取插件列表#}
{#            </div>#}
{#            <div id="d_issue_tesk_batch"  class='tab-pane'>#}
{#                批量下发#}
{#                <button onclick="d_issue_task_batch_submit()" class="btn btn-default">提交</button><br>#}
{#                <form role="form" method="post" id="task_batch_form">#}
{#                    <div class="row">#}
{#                        <div class="col-lg-6">#}
{#                            <label for="name">输入</label>#}
{#                            <textarea id="d_issue_task_text_batch" class="form-control" rows="18" name="url"></textarea>#}
{##}
{#                            结果：#}
{#                            <pre id = "d_issue_task_batch_res" class="row">#}
{##}
{#                </pre>#}
{#                        </div>#}
{#                        <div class="col-lg-6">#}
{#                            插件#}
{#                            <div id="plug_check_list" class="checkbox">#}
{##}
{#                            </div><br>#}
{#                            spider#}
{#                            <div id="spider_check_list" class="checkbox">#}
{##}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
                    {#        <button type="submit" class="btn btn-default">提交</button>#}
{##}
{#                </form>#}
{##}
{#            </div>#}
        </div>
    </div>
</div>



{##}
{#<style>#}
{#    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }#}
{#    .string { color: green; }#}
{#    .number { color: darkorange; }#}
{#    .boolean { color: blue; }#}
{#    .null { color: magenta; }#}
{#    .key { color: red; }#}
{#</style>#}

{#<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">#}
{#    <div class="modal-dialog">#}
{#        <div class="modal-content">#}
{#            <div class="modal-header">#}
{#                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                <h4 class="modal-title" id="myModalLabel">详情</h4>#}
{#            </div>#}
{#            <div id="model_result" class="modal-body">#}
{#                <pre id="model_result" ></pre>#}
{#            </div>#}
{#            <div class="modal-footer">#}
{#                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>#}
{#                <button type="button" class="btn btn-primary">提交更改</button>#}
{#            </div>#}
{#        </div><!-- /.modal-content -->#}
{#    </div><!-- /.modal -->#}
{#</div>#}

<div class="modal fade" id="model" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"></h4>
            </div>
            <div class="modal-body">
                <div class="loading_content">
                    <div class="loading_circle"></div>
                    加载中
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="model-submit" type="button" class="btn btn-primary" style="display: none">提交</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
</body>
</html>