<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="/static/js/report.js"></script>
    <link  rel="stylesheet" href="/static/css/plugins/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/plugins/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/static/js/plugins/bootstrap.min.js"></script>
    <title>详情</title>
    <script >
        var report_data = {{ data|safe }};
        var ip_scan = {{ ip_scan|safe }};
        var web_scan = {{ web_scan|safe }};
        var statistical = {{ statistical|safe }};
        get_data(report_data,ip_scan,web_scan,statistical);
    </script>
</head>
<body>

<div class="row">
    <div id="title_div"  class="col-lg-offset-1">

    </div>
</div>

<div class="row">
    <div id="body_div"  class="col-md-12">
        <table class="table">
            <thead>
            <tr>
            <th>URL</th>
            <th>域名</th>
            <th>标题</th>
            <th>描述</th>
            <th>服务端口</th>
            </tr>

            </thead>
            <tbody id="body_div_tbody">

            </tbody>
        </table>
    </div>
</div>
</body>
<script>
    get_html();
</script>
</html>