<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <script src="/static/js/plugins/jquery-3.2.1.min.js"></script>
        <script src="/static/js/test_js.js"></script>

    <title>Document</title>
</head>


<body>
    <button  id="tesk_click" onclick="test_click()" class="btn btn-default"> 测试点击触发 </button>
    <a href='http://www.baidu1111111.com' >baidu-------------------</a><br>
    <div id="test_auto" >

    </div>
</body>
<script>

    $("#test_auto").append("<a href='http://www.baidu222222222.com' >baidu</a><br>");
    test_auto();

</script>

</html>